/Output/**
/Source/_ReSharper.Caches/**
**/v14/
**/v15/
**/v16/
*/obj/*
*app.manifest
*.suo
*/bin/*
*.csproj.user
*.DotSettings.user
*.resources
*.Cache
*.cache
*.dcu
*.exe
*.~pas
*.ddp
*.drc
*.~*
*.dsk
*.dproj.local
*.groupproj.local
*/_sgbak/*
*.cbk
*.tmp
*.bak
.git/*
CMakeLists.txt
*.tvsconfig
Profiling/*
*.identcache
*.orig
*.otares
*.obj
*.tvsconfig
*.vlb
*.stat
*.txaPackage
*.txvpck
~$*.xlsx
